@model IEnumerable<MvcPL.Models.RoleViewModel>
@foreach (var item in Model)
{
    <div class="checkbox">
        <label>
            <input type="checkbox" name="Role" value="@item.Id"> @Html.DisplayFor(m => item.Name)
        </label>
    </div>
}