@{
    ViewBag.Title = "Contact";
}

<div class="form-group">
    <div class="col-md-3">
        <div class="test">
            <img class="test_icon" src="~/content/image/test_icon.png" alt="">
            <div class="test_title">
                <div class="vert_align">
                    <div class="subject">
                        <span>Test 1</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="description">
                <p>Description 1</p>
            </div>
            <div class="button_holder">
                <a href="/tests/gotovy_li_vy_poiti_na_kompromiss" class="next_button"><span>Пройти тест</span></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="test">
            <img class="test_icon" src="~/content/image/test_icon.png" alt="">
            <div class="test_title">
                <div class="vert_align">
                    <div class="subject">
                        <span>Test 2</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="description">
                <p>Description 2</p>
            </div>
            <div class="button_holder">
                <a href="/tests/gotovy_li_vy_poiti_na_kompromiss" class="next_button"><span>Пройти тест</span></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="test">
            <img class="test_icon" src="~/content/image/test_icon.png" alt="">
            <div class="test_title">
                <div class="vert_align">
                    <div class="subject">
                        <span>Test 3</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="description">
                <p>Description 3</p>
            </div>
            <div class="button_holder">
                <a href="/tests/gotovy_li_vy_poiti_na_kompromiss" class="next_button"><span>Пройти тест</span></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="test">
            <img class="test_icon" src="~/content/image/test_icon.png" alt="">
            <div class="test_title">
                <div class="vert_align">
                    <div class="subject">
                        <span>Test 4</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="description">
                <p>Description 4</p>
            </div>
            <div class="button_holder">
                <a href="/tests/gotovy_li_vy_poiti_na_kompromiss" class="next_button"><span>Пройти тест</span></a>
            </div>
        </div>
    </div>
</div>

